
.icon{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100vh;
    background-color: #223a66;
}
/* 
.icon path{
    fill: transparent;
    stroke-width: 2 ;
    stroke: #EE1C24;
    stroke-dasharray: 9850;
    stroke-dashoffset: 0;
    animation: animate-heart 5s linear 0s forwards ;
}
@keyframes animate-heart {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 9850;
    }
    80%{
        stroke-dashoffset: 19700;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 19700;
        fill: #EE1C24;
    }
} */


.icon path {
    fill: transparent;
    stroke-width: 4; 
    stroke: #e12454;
    stroke-dasharray: 9850;
    stroke-dashoffset: 9850; 
    animation: animate-heart 5s linear 0s forwards infinite;
}

@keyframes animate-heart {
    0% {
        stroke-dashoffset: 9850;
        fill: transparent;
    }
    40% {
        stroke-dashoffset: 0;
    }
    80% {
        stroke-dashoffset: -9850;
    }
    100% {
        stroke-dashoffset: -9850;
    }
}
