.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root > div > header > div > div > div.MuiBox-root.css-15ytkbm > button > a{
  background-color: transparent !important;
  transition: all 0.3s ease;
}
#root > div > header > div > div > div.MuiBox-root.css-15ytkbm > button > a:hover{
  background-color: transparent !important;
  color: rgb(225, 36, 84) !important;
}
#root > div > header > div > div > div.MuiBox-root.css-15ytkbm > button > a.active{
  color: rgb(225, 36, 84) !important;
}